@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300&display=swap');


body {
    font-family: Montserrat;
    font-size: 12px;
}

#grid-container {
  display: grid;
  grid-template-rows: 60px 400px 400px 0px;
  grid-template-columns: 280px 150px;
  /*justify-content: center;*/
  grid-template-areas: "encabezado" menu" 
                        "main"     "main" 
                        "main"     "main" 
                        "main"    "main"                  

}

h1 {
    font-size: 20px;
    letter-spacing: 1.5px;
}

#encabezado {
  grid-area: "encabezado";

}

.logo-menu {
  width: 20px;
  height: 20px;
  margin-left: 20px; 
}

.vertical-menu {
  grid-area: "menu";
  max-width: 100px;
  font-size: 12px;
  font-weight: bold;
}

.vertical-menu ul {
  margin: 0;
  padding: 0;
}

.vertical-menu > li {
  text-align: center;
}

.vertical-menu > ul, li {
  list-style: none;
  margin: 30;
}

.vertical-menu li > ul {
  display: none;
}

.vertical-menu li:hover > ul {
  display: block;
}
  
.vertical-menu a {
  color: black; 
  display: block; 
  padding: 12px; 
  text-decoration: none; 
}
  
.vertical-menu a:hover {
background-color: rgba(230, 196, 230, 0.61);

}

#contenido-principal {
  grid-area: "main";
}

#footer {
    display: flex;
    flex-direction: column;
}

address > a {
  text-decoration: none;
  color: rgb(46, 46, 46);
font-style: normal;
    
}

address > a::before {
  content: "♥";
}

@media screen and (min-width: 400px) {

  body {
    font-size: 16px;
  }

  h1 {
    font-size: 30px;
    letter-spacing: 1.5px;
  }
  
#grid-container {
  display: grid;
  grid-template-rows: 60px 400px 400px;
  grid-template-columns: 400px 150px;
  /*justify-content: center;*/
  grid-template-areas: "encabezado" menu" 
                        "main"     "main" 
                        "main"     "main" 
                        "main"    "main"                  

}

#encabezado {
  grid-area: "encabezado";

}

.vertical-menu {
  grid-area: "menu";
  font-size: 15px;
  margin-top: 20px;
}

#contenido-principal {
  grid-area: "main";
}

#contenido-principal {
  margin: 25px 160px 0px 0px;
  width: 100%;
}


}

@media screen and (min-width: 600px) {

  body {
    font-size: 17px;
  }

  h1 {
    font-size: 35px;
    letter-spacing: 1.5px;
  }

  #grid-container {
    display: grid;
    grid-template-areas: "header header header"
                          "nav   main    main"
                          "nav   main    main"
                          "footer   footer  footer"
                          ;
  }

  header {
    grid-area: header;

  }

  nav {
    grid-area: nav ;
  }

  main {
    grid-area: main;
  }

  #footer {
    grid-area: footer;
  }
  
  .logo-menu {
    display: none;
  }

  .vertical-menu li > ul {
    display: block;
  }

  .vertical-menu {
    font-size: 20px;
    max-width:  200px;
    margin-top: 20px;
  }

  #header {
    margin-bottom: 20px;
  }

  #contenido-principal {
    margin: 25px 160px 0px -120px;
  }

}

@media screen and (min-width: 950px) {

  body {
    font-size: 18px;
    margin: 10px 100px 30px 80px;
  }

  h1 {
    font-size: 40px;
  }


  #grid-container {
    display: grid;
    grid-template-areas: "header header header"
                          "nav   main   main"
                          "nav   main    main"
                          ;
  }

  header {
    grid-area: header;

  }

  nav {
    grid-area: nav ;
  }

  main {
    grid-area: main;
  }

  .logo-menu {
    display: none;
  }

  .vertical-menu li > ul {
    display: block;
  }

  .vertical-menu {
    font-size: 20px;
    max-width: 200px;
    margin-top: 20px;
  }

  #contenido-principal {
    margin: 25px 160px 0px -120px;
  }

  ul {
    list-style: none;
}
body {
    overflow: hidden;
}


.carrousel{
    margin: 60px 130px 60px 300px;
    width: 70%;
    max-width: 120em;
    background: #e3edf7;
    border-radius: 20px 20px 20px 20px;
    padding: 2em;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    
}

.carrousel .grande {
    width: 90%;
    background: #e3edf7;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    transition: all .5s ease;
}

.carrousel .img {
    width: 42%;
    background: #e3edf7;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    padding: 2em;
    min-height: 5vh;
}

.carrousel .botones-deslizar {
    width: 100%;
    padding: .4em;
    margin: 1em 0 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carrousel .punto {
    width: 2em;
    height: 2em;
    margin: 1em 1em 0;
    border-radius: 50px 50px 50px 50px;
    background: #d1ddeb;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.carrousel .punto.activo {
    background-color: rgb(198, 233, 255);
    
}

}
