//variables, mixin y funciones de SASS
$mySizeMovil : 12px;
$mySizeTablet: 16px;
$selectColor: rgb(255, 140, 230);

@mixin neo {
	background: #d1ddeb;
	box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

@mixin flex-margen {
	display: flex;
	justify-content: center ;
	margin-top: 50px;
	margin-bottom: 50px;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Light.ttf");
  }

body {
	font-family: Montserrat;
	font-size: $mySizeMovil;
}
#grid-container {
	display: grid;
	grid-template-rows: 60px 400px 400px 0px;
	grid-template-columns: 280px 150px;
	grid-template-areas: "encabezado" menu" ""main" "main" "main" "main" "main" "main";
}
h1 {
	font-size: 20px;
	letter-spacing: 1.5px;
}
#encabezado {
	grid-area: "encabezado";
}
.logo-menu {
	width: 20px;
	height: 20px;
	margin-left: 20px;
}
.vertical-menu {
	grid-area: "menu";
	max-width: 100px;
	font-size: 12px;
	font-weight: bold;
	ul {
		margin: 0;
		padding: 0;
	}
	>li {
		text-align: center;
	}
	>ul {
		list-style: none;
		margin: 30;
	}
	li {
		>ul {
			display: none;
		}
		&:hover {
			>ul {
				display: block;
			}
		}
	}
	a {
		color: black;
		display: block;
		padding: 12px;
		text-decoration: none;
		&:hover {
			color: $selectColor;
		}
	}
}
li {
	list-style: none;
	margin: 30;
}
#contenido-principal {
	grid-area: "main";
}
#footer {
	display: flex;
	flex-direction: column;
}
address {
	>a {
		text-decoration: none;
		color: rgb(46, 46, 46);
		font-style: normal;
		&::before {
			content: "♥";
		}
	}
}
ul {
	list-style: none;
}
.carrousel {
	margin: 60px 130px 60px 55px;
	width: 70%;
	max-width: 120em;
	@include neo;
	border-radius: 20px 20px 20px 20px;
	padding: 2em;
	.grande {
		width: 90%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		@include neo;
	}
	.img {
		width: 42%;
		@include neo;
		padding: 2em 17px 2em 20px;
		min-height: 5vh;
	}
	.botones-deslizar {
		width: 100%;
		padding: .4em;
		margin: 1em 0 0;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
	}
	.punto {
		width: 2em;
		height: 2em;
		margin: 1em 1em 0;
		border-radius: 50px 50px 50px 50px;
		@include neo;
	}
	.punto.activo {
		background-color: rgb(198, 233, 255);
	}
}
.lienzo {
	margin-left: 10px;
}
#canvas01 {
	width: 500px;
	height: 300px;
	border: 1px solid black;
}

.div-video {
	@include flex-margen ;
}

.clip-video {
	width: 80%;
}

.div-audio {
	@include flex-margen;
}

.animacion-foto {
	@include flex-margen;
}

.img-animada {
	animation: slide-in 2s ease infinite;
}

.animacion-circulos {
	margin: 120px 0px 120px 190px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: red;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	align-items: center;
	transform-origin: center;
	animation: rotate 2s ease infinite;
}

.animacion-circulos:before > .circulo:before {
	box-sizing: border-box;
}

.circulo {
	background-color: rgb(255, 94, 94);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: relative;
}

.circulo:nth-child(1) {
	left:-100px;
	animation: slideleft 2s ease forwards infinite;
}

.circulo:nth-child(2) {
	left:100px;
	top:-40px;
	animation: slideright 2s ease forwards infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	50%{
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes slideleft {
	0% {
		background-color: rgb(255, 209, 123);
		transform: translateX(0px);
	}

	25%{
		background-color: rgb(255, 193, 255);
		transform: translateX(-100px);
	}

	50%{
		background-color: rgb(158, 202, 252);
		transform: translateX(0px);
	}

	100%{
		background-color: rgb(125, 80, 156);
	}
}

@keyframes slideright {
	0% {
		background-color: rgb(210, 148, 235);
		
		transform: translateX(0px);
	}

	25%{
		background-color: rgb(174, 250, 151);
		transform: translateX(100px);
	}

	50%{
		background-color: rgb(255, 255, 133);
		transform: translateX(0px);
	}

	100%{
		background-color: rgb(122, 153, 255);
	}
}

@keyframes slide-in {
	from {
		transform: translateX(900px);
		opacity: 0;
	}
	to {
		transform: translateX(0px);
	}
}


@media screen and (min-width: 400px) {
	body {
		font-size: $mySizeTablet;
	}
	h1 {
		font-size: 30px;
		letter-spacing: 1.5px;
	}
	#grid-container {
		display: grid;
		grid-template-rows: 60px 400px 400px;
		grid-template-columns: 400px 150px;
		grid-template-areas: "encabezado" menu" ""main" "main" "main" "main" "main" "main";
	}
	#encabezado {
		grid-area: "encabezado";
	}
	.vertical-menu {
		grid-area: "menu";
		font-size: 15px;
		margin-top: 20px;
	}
	#contenido-principal {
		grid-area: "main";
		margin: 25px 160px 0px 0px;
		width: 100%;
	}
}
@media screen and (min-width: 600px) {
	body {
		font-size: $mySizeTablet;
	}
	h1 {
		font-size: 35px;
		letter-spacing: 1.5px;
	}
	#grid-container {
		display: grid;
		grid-template-areas: "header header header" "nav   main    main" "nav   main    main" "footer   footer  footer";
	}
	header {
		grid-area: header;
	}
	nav {
		grid-area: nav;
	}
	main {
		grid-area: main;
	}
	#footer {
		grid-area: footer;
	}
	.logo-menu {
		display: none;
	}
	.vertical-menu {
		li {
			>ul {
				display: block;
			}
		}
		font-size: 20px;
		max-width: 200px;
		margin-top: 20px;
	}
	#header {
		margin-bottom: 20px;
	}
	#contenido-principal {
		margin: 25px 160px 0px -120px;
	}
	.carrousel {
		margin: 60px 130px 60px 41px;
	}
}
@media screen and (min-width: 950px) {
	body {
		font-size: 18px;
		margin: 10px 100px 30px 81px;
	}
	h1 {
		font-size: 40px;
	}
	#grid-container {
		display: grid;
		grid-template-areas: "header header header" "nav   main   main" "nav   main    main";
	}
	header {
		grid-area: header;
	}
	nav {
		grid-area: nav;
	}
	main {
		grid-area: main;
	}
	.logo-menu {
		display: none;
	}
	.vertical-menu {
		li {
			>ul {
				display: block;
			}
		}
		font-size: 20px;
		max-width: 200px;
		margin-top: 20px;
	}
	#contenido-principal {
		margin: 25px 160px 0px -120px;
	}
	.carrousel {
		margin: 60px 130px 60px 120px;
		.img {
			padding-left: 4em;
		}
	}
	#img-canvas {
		width: 20%;
	}

	#canvas01 {
		width: 500px;
		height: 300px;
	}

	.clip-video {
		width:30% ;
	}

	.lienzo {
		@include flex-margen;
	}
	

	.animacion-circulos {
		margin: 120px 500px 120px 550px;
	}
}
