@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.ttf");
}

body {
  font-family: Montserrat;
  font-size: 12px;
}

#grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px 400px 400px 0px;
      grid-template-rows: 60px 400px 400px 0px;
  -ms-grid-columns: 280px 150px;
      grid-template-columns: 280px 150px;
      grid-template-areas: "encabezado" menu " " "main" "main" "main" "main" "main" "main";
}

h1 {
  font-size: 20px;
  letter-spacing: 1.5px;
}

#encabezado {
  grid-area: "encabezado";
}

.logo-menu {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.vertical-menu {
  grid-area: "menu";
  max-width: 100px;
  font-size: 12px;
  font-weight: bold;
}

.vertical-menu ul {
  margin: 0;
  padding: 0;
}

.vertical-menu > li {
  text-align: center;
}

.vertical-menu > ul {
  list-style: none;
  margin: 30;
}

.vertical-menu li > ul {
  display: none;
}

.vertical-menu li:hover > ul {
  display: block;
}

.vertical-menu a {
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  color: #ff8ce6;
}

li {
  list-style: none;
  margin: 30;
}

#contenido-principal {
  grid-area: "main";
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

address > a {
  text-decoration: none;
  color: #2e2e2e;
  font-style: normal;
}

address > a::before {
  content: "♥";
}

ul {
  list-style: none;
}

.carrousel {
  margin: 60px 130px 60px 55px;
  width: 70%;
  max-width: 120em;
  background: #d1ddeb;
  -webkit-box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
          box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border-radius: 20px 20px 20px 20px;
  padding: 2em;
}

.carrousel .grande {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #d1ddeb;
  -webkit-box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
          box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.carrousel .img {
  width: 42%;
  background: #d1ddeb;
  -webkit-box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
          box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  padding: 2em 17px 2em 20px;
  min-height: 5vh;
}

.carrousel .botones-deslizar {
  width: 100%;
  padding: .4em;
  margin: 1em 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carrousel .punto {
  width: 2em;
  height: 2em;
  margin: 1em 1em 0;
  border-radius: 50px 50px 50px 50px;
  background: #d1ddeb;
  -webkit-box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
          box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.carrousel .punto.activo {
  background-color: #c6e9ff;
}

.lienzo {
  margin-left: 10px;
}

#canvas01 {
  width: 500px;
  height: 300px;
  border: 1px solid black;
}

.div-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.clip-video {
  width: 80%;
}

.div-audio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.animacion-foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.img-animada {
  -webkit-animation: slide-in 2s ease infinite;
          animation: slide-in 2s ease infinite;
}

.animacion-circulos {
  margin: 120px 0px 120px 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: red;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: rotate 2s ease infinite;
          animation: rotate 2s ease infinite;
}

.animacion-circulos:before > .circulo:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.circulo {
  background-color: #ff5e5e;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
}

.circulo:nth-child(1) {
  left: -100px;
  -webkit-animation: slideleft 2s ease forwards infinite;
          animation: slideleft 2s ease forwards infinite;
}

.circulo:nth-child(2) {
  left: 100px;
  top: -40px;
  -webkit-animation: slideright 2s ease forwards infinite;
          animation: slideright 2s ease forwards infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes slideleft {
  0% {
    background-color: #ffd17b;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    background-color: #ffc1ff;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  50% {
    background-color: #9ecafc;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    background-color: #7d509c;
  }
}

@keyframes slideleft {
  0% {
    background-color: #ffd17b;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    background-color: #ffc1ff;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  50% {
    background-color: #9ecafc;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    background-color: #7d509c;
  }
}

@-webkit-keyframes slideright {
  0% {
    background-color: #d294eb;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    background-color: #aefa97;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  50% {
    background-color: #ffff85;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    background-color: #7a99ff;
  }
}

@keyframes slideright {
  0% {
    background-color: #d294eb;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    background-color: #aefa97;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  50% {
    background-color: #ffff85;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    background-color: #7a99ff;
  }
}

@-webkit-keyframes slide-in {
  from {
    -webkit-transform: translateX(900px);
            transform: translateX(900px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slide-in {
  from {
    -webkit-transform: translateX(900px);
            transform: translateX(900px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media screen and (min-width: 400px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 30px;
    letter-spacing: 1.5px;
  }
  #grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 60px 400px 400px;
        grid-template-rows: 60px 400px 400px;
    -ms-grid-columns: 400px 150px;
        grid-template-columns: 400px 150px;
        grid-template-areas: "encabezado" menu " " "main" "main" "main" "main" "main" "main";
  }
  #encabezado {
    grid-area: "encabezado";
  }
  .vertical-menu {
    grid-area: "menu";
    font-size: 15px;
    margin-top: 20px;
  }
  #contenido-principal {
    grid-area: "main";
    margin: 25px 160px 0px 0px;
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 35px;
    letter-spacing: 1.5px;
  }
  #grid-container {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header header header" "nav   main    main" "nav   main    main" "footer   footer  footer";
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: header;
  }
  nav {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: nav;
  }
  main {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: main;
  }
  #footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer;
  }
  .logo-menu {
    display: none;
  }
  .vertical-menu {
    font-size: 20px;
    max-width: 200px;
    margin-top: 20px;
  }
  .vertical-menu li > ul {
    display: block;
  }
  #header {
    margin-bottom: 20px;
  }
  #contenido-principal {
    margin: 25px 160px 0px -120px;
  }
  .carrousel {
    margin: 60px 130px 60px 41px;
  }
}

@media screen and (min-width: 950px) {
  body {
    font-size: 18px;
    margin: 10px 100px 30px 81px;
  }
  h1 {
    font-size: 40px;
  }
  #grid-container {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header header header" "nav   main   main" "nav   main    main";
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: header;
  }
  nav {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: nav;
  }
  main {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: main;
  }
  .logo-menu {
    display: none;
  }
  .vertical-menu {
    font-size: 20px;
    max-width: 200px;
    margin-top: 20px;
  }
  .vertical-menu li > ul {
    display: block;
  }
  #contenido-principal {
    margin: 25px 160px 0px -120px;
  }
  .carrousel {
    margin: 60px 130px 60px 120px;
  }
  .carrousel .img {
    padding-left: 4em;
  }
  #img-canvas {
    width: 20%;
  }
  #canvas01 {
    width: 500px;
    height: 300px;
  }
  .clip-video {
    width: 30%;
  }
  .lienzo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .animacion-circulos {
    margin: 120px 500px 120px 550px;
  }
}
/*# sourceMappingURL=style.css.map */